services:
  db:
    image: postgres:16-alpine
    container_name: sociallib_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: sociallib
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: sociallib_cache
    ports:
      - "6379:6379"

volumes:
  pgdata:


